
.img-max-width {
  max-width: 700px;
  width: 100%;
  height: auto;
}

.img-container {
  padding: 10px 0;
}

.coin-search-input::placeholder {
  color: #fff;
  font-size: 0.8rem;
}

@media screen and (min-width: 424px) {
  .coin-search-input::placeholder {
    font-size: 1rem;
  }
}
