.bg-nav {
  background-color: #4369b2;
}

.nav-li {
  font-size: 1rem;
}

.main-title {
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  .main-title {
    font-size: 2.5rem;
  }

  .nav-li {
    font-size: 1.5rem;
  }
}

@media (min-width: 425px) {
  .nav-ul {
    flex-direction: row;
    gap: 1rem;
  }
}
