@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/gill-sans-mt-2');

body,
h1,
h2,
h3 {
  font-family: 'Gill Sans MT', sans-serif;
}

.logo {
  width: 40px;
}

:root {
  --bs-body-font-family: 'Lato', sans-serif;
  --bs-body-bg: #598ce8;
}

nav {
  background-color: #4066b7;
  border-bottom: 1px solid #444;
}

nav li a {
  color: rgb(173, 173, 173);
  text-decoration: none;
}
