.main {
  font-family: 'Lato', sans-serif;
}

.odd {
  background-color: #4066b7;
}

.even {
  background-color: #5887e5;
}

.iconStyle {
  /* filter: grayscale(1); */
  max-width: 50px;
}

.zero-pad {
  padding: 0 !important;
}

.multipleClass {
  display: flex;
  flex-direction: row-reverse;
}

.bg-stats {
  background-color: #1b35ac;
  font-size: small;
  margin: 0 0 0 1rem;
  padding: 0.2rem;
}
